.card {
  border: 2px solid transparent;
  color: rgba(15, 14, 14, 0.76);
  background-image: linear-gradient(135deg, rgb(76, 211, 148), rgb(56, 149, 175));
  border-radius: 5px;
  margin-bottom: 30px;
}

.card-header {
  font-size: 30px;
  color: #180b0b;
}

.card-title {
  margin: 20px 0;
  color: #140e0e;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #fafafa;
  background-image: linear-gradient(135deg, rgb(55, 66, 50), rgb(56, 149, 175));
  text-rendering: optimizeLegibility;
}

.App-header{
  text-align: center;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  padding: 25px;
  color: floralwhite;
}

.ChartBox{
  left: 30%;
  position: relative;
  
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table{
  border: 1px solid #e9e4e4;
}